<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>{{$title}}</title>
        <link rel="stylesheet" href="@@static/style.css@@" />
    </head>
    <body>
        <div class="content">
[[ include_once 'include/util.inc'; ]]
[[ if (isLoggedIn()) : ]]
    <p class='login'><a href='@@logout@@'>Log out</a></p>
[[ else : ]]
    <p class='login'><a href='@@login@@'>Log in</a></p>
[[ endif; ]]
