<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>{{$title}}</title>
        <link rel="stylesheet" href="@@static/style.css@@" />
    </head>
    <body>
        <div class="content">
[[
  include_once 'include/util.inc';
  include_once 'include/Authenticator.inc';
  include_once 'models/User.inc';
]]

<ul id="navigation">
[[ if (isLoggedIn()) : ]]
  <li class="left">Welcome, {{User::findById($_SESSION['userid'])->getFullName()}}</li>
  <li class="right"><a href="@@logout@@">Log out</a></li>
  [[ if (Authenticator::instance()->can('admin_page')) : ]]
    <li class="right"><a href="@@admin@@">Admin</a></p>
  [[ endif; ]]
  <li class="right"><a href="@@user/view/{{$_SESSION['userid']}}@@">My profile</a></li>
[[ else : ]]
  <li class="right"><a href="@@login@@">Log in</a></li>
  <li class="right"><a href="@@user/register@@">Register</a></li>
[[ endif; ]]
  <li class="right"><a href="@@index@@">Home</a></li>
</ul>
